<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pacientes</h1>
    <table>
        <tr>
            <th>ID Paciente</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Fecha Reporte</th>
            <th>Historial Clínico</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
            <td>{{ paciente[3] }}</td>
            <td>{{ paciente[4] }}</td>
            <td>{{ paciente[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
